/Car/car/nbproject/private/
/Car/car/build/
/New Folder/coinToss/nbproject/private/
/New Folder/coinToss/build/
/coin-toss/coinToss/build/
/coin-toss/coinToss/nbproject/private/
/New Folder/GuessTheNumber/nbproject/private/
/New Folder/GuessTheNumber/build/
/New Folder/GuessTheNumber/dist/
/guess-the-number/GuessTheNumber/build/
/guess-the-number/GuessTheNumber/dist/
/guess-the-number/GuessTheNumber/nbproject/private/