/Car/car/nbproject/private/
/Car/car/build/
/New Folder/coinToss/nbproject/private/
/New Folder/coinToss/build/
/coin-toss/coinToss/build/
/coin-toss/coinToss/nbproject/private/
/New Folder/GuessTheNumber/nbproject/private/
/New Folder/GuessTheNumber/build/
/New Folder/GuessTheNumber/dist/
/guess-the-number/GuessTheNumber/build/
/guess-the-number/GuessTheNumber/dist/
/guess-the-number/GuessTheNumber/nbproject/private/
/person/JavaApplication7/nbproject/private/
/person/person/nbproject/private/
/person/person/build/
/loops-practice/loops/nbproject/private/
/loops-practice/loops/build/
/madlibs/madlibs/nbproject/private/
/madlibs/madlibs/build/